body {
  font-family: "Yeseva One", "Noto Serif TC", cursive, serif;
}

.ffn {
  font-family: "Noto Serif TC", serif;
}

th,
td {
  vertical-align: middle;
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 992px) {
    @content;
  }
}
