<header class="border-bottom border-3 py-4">
  <div class="container-fluid container-sm">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
      <div class="d-flex w-75 w-md-auto">
        <h1 class="d-flex align-items-center mb-0 me-4 me-md-6">
          <a class="navbar-brand m-0 me-md-3 py-0" href="#">
            <img
              src="../assets/images/logo.png"
              alt="logo"
              class="img-fluid logo"
              width="40px"
              height="40px"
            />
          </a>
          <span class="me-1 d-none d-md-inline">7TAO</span>
          <span class="fs-6 d-none d-md-inline">活動訂票網</span>
        </h1>
        <form class="d-flex">
          <input
            class="form-control border-main border-3 py-2 py-md-3 px-2 px-md-4 rounded-0 bg-bgc lh-1"
            type="search"
            placeholder="探索活動"
            aria-label="Search"
          />
          <button
            class="btn btn-main text-sub rounded-0 p-25 p-md-3 lh-1"
            type="submit"
          >
            <i class="icofont-search-1 align-middle"></i>
          </button>
        </form>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- border-top border-top-lg-0 border-3 border-main mx-n25 px-25 -->
      <div
        class="collapse navbar-collapse flex-grow-0"
        id="navbarSupportedContent"
      >
        <ul
          class="navbar-nav me-auto mb-2 mb-lg-0 pt-4 mt-25 pt-lg-0 mt-lg-0 border-top border-top-lg-0 mx-n25 px-25"
        >
          <li class="nav-item me-4">
            <a
              class="nav-link fs-56 pt-0 pt-md-2"
              aria-current="page"
              href="index.html"
            >
              <i class="icofont-ui-file"></i>
              REGISTER
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-56 pb-0 pb-md-2" href="#">
              <i class="icofont-ui-user"></i>
              LOGIN
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
