@mixin main-btn {
  @extend .btn;
  @extend .btn-main;
  @extend .rounded-0;
}

@mixin main-outline-btn {
  @extend .btn;
  @extend .btn-outline-main;
  @extend .rounded-0;
}

.main-btn {
  @include main-btn;
  &:hover {
    color: $sub;
  }
}

.main-outline-btn {
  @include main-outline-btn;
  border: 2px solid;
  &:hover {
    color: $sub;
  }
}

.main-btn-sub {
  @include main-btn;
  color: $sub;
  &:hover {
    color: $white;
  }
}

@mixin box {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid $main;
  width: 24px;
  height: 24px;
  background-color: $bgc;
  z-index: 5;
  @include pad {
    font-size: 1.25rem;
    width: 48px;
    height: 48px;
  }
}

.main-btn-sub-box {
  @include box;
  background-color: $main;
  color: $sub;
}

.main-btn-box {
  @include box;
  color: $main;
}

.card-underline-link {
  &:hover {
    color: $main;
    text-decoration: underline;
  }
}

.card-pill-link {
  position: relative;
  z-index: 1;
  &:hover {
    color: $main;
    &::before {
      content: "";
      position: absolute;
      top: -0.25rem;
      left: -0.5rem;
      display: inline-block;
      width: 1.75rem;
      height: 1.75rem;
      color: $main;
      background-color: $sub;
      z-index: -1;
      @extend .rounded-circle;
    }
  }
}

@mixin tag {
  @extend .btn;
  @extend .btn-outline-main;
  @extend .rounded-0;
  @extend .fs-7;
  @extend .fs-md-6;
  @extend .fw-bold;
  @extend .py-1;
  @extend .pe-3;
  @extend .pe-md-4;
  @extend .ps-25;
  @extend .ps-md-35;
}

.tag {
  border-left: 4px solid;
  &:hover {
    border-left: 4px solid $sub;
  }
  @include tag;
}

@mixin albums-marquee {
  @extend .bg-main;
  @extend .text-sub;
  @extend .ffn;
  @extend .overflow-x-hidden;
  @extend .text-nowrap;
  @extend .fs-6;
  @extend .fs-lg-2;
  @extend .py-25;
  @extend .py-md-4;
}

.albums-marquee {
  letter-spacing: 1.6px;
  @include pad {
    letter-spacing: 3.2px;
  }
  @include albums-marquee;
}

@keyframes marqee-a {
  0% {
    left: 100%;
    transform: translateX(-100%);
  }

  100% {
    left: 0;
    transform: translateX(0%);
  }
}

@keyframes marqee-b {
  0% {
    left: 100%;
    transform: translateX(0%);
  }

  100% {
    left: 0;
    transform: translateX(-100%);
  }
}

@mixin albums-tag {
  @extend .d-inline-block;
  @extend .align-middle;
  @extend .bg-white;
  @extend .fw-bold;
  @extend .px-3;
  @extend .py-2;
  @extend .position-absolute;
  @extend .top-0;
  @extend .start-50;
  @extend .translate-tag-l4;
}

.albums-tag {
  @include albums-tag;
}

@mixin event-title {
  @extend .fs-2;
  @extend .fs-md-ts;
  @extend .fw-bold;
}

.event-title {
  letter-spacing: 1.6px;
  @include pad {
    letter-spacing: 3px;
  }
  @include event-title;
}

.buy-title {
  letter-spacing: 1.6px;
  @include pad {
    letter-spacing: 2.4px;
  }
  @include event-title;
}

.line {
  border-top: 1px solid;
  width: 80vw;
  position: absolute;
  top: 12px;
  z-index: -1;
  @include pad {
    top: 24px;
  }
  @include pc {
    width: 40vw;
  }
}
