<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>event9</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="py-5">
      <div class="container">
        <div class="row mb-4 gy-4 justify-content-center align-items-center">
          <div class="col-md-5">
            <img
              src="https://images.unsplash.com/photo-1630016537018-d46c0ad5c6bb?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-md-5">
            <h3>This is a title</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
              in sapiente repudiandae, sint voluptas placeat aliquam ratione,
              repellat inventore nostrum excepturi quibusdam quisquam magnam
              nihil nisi! Reprehenderit corrupti ratione perspiciatis.
            </p>
          </div>
        </div>
        <h2>返老還童-制服聯誼</h2>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
